header{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-image: url(../img/logo.svg);
}

#booleaners{
    color: lightseagreen;
}

#data{
    font-size: small;
}

