header{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    }
#nomegiornale{
    height: 150px;
    width: 250px;
    text-align: left;
    
}   

#booleaners{
    color: lightseagreen;
}
#titolo_principale{
    font-size: 2.5rem;
}

#data{
    font-size: small;
}
.descrizione_foto{
    font-size: smaller;
}
.trdispari{
    background-color: darkcyan;
}


